.search-field {
  width: 210px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.card {
  width: 318px;
  height: 418px;
  border: 1px solid $primarycolor;
  background-color: #ffffff;

  .card__image {
    width: 318px;
    height: 180px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;

    & img {
      align-self: center;
    }
  }

  .card__text {
    margin-left: 22px;
    margin-top: 26px;

    .card__title {
      margin-top: 0;
      margin-bottom: 20px;
      color: #435766;
      font-size: 18px;
    }
    .card__description {
      margin: 0;
      color: #435766;
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
  .card__button {
    @extend .button;
    margin-left: 20px;
  }
}

.arrow-down {
  @include arrow(45deg);
}

.primary-button {
  @extend .button;
}

.secondary-button {
  @extend .button;
  width: 207px;
  background: linear-gradient(180deg, #686c6f, #373a3c);
  margin-right: 15px;
}
