body {
  background-color: #fff;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

// Navbar

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #373a3c;
  border-bottom: 3px solid #979797;
}

.header-nav__logo {
  align-self: center;
  padding-left: 162px;
  width: 96px;
  height: 29px;
  align-items: center;
}

.header-nav__menu {
  align-self: center;
  padding-left: 288px;
  display: inline-flex;
  list-style-type: none;
}

.header-nav__menu-links {
  padding: 0 9px;
  color: #fff;
  font-size: 16px;
  opacity: 0.5;
  text-decoration: none;
}

.header-nav-search {
  align-self: center;
}

.header-nav-user-account {
  display: inline-flex;
  align-self: center;
  padding-right: 162px;
}

.navbar-user-account__icon {
  width: 20px;
  height: 20px;
}

// Hero

// Features

.features-cards {
  display: flex;
  justify-content: space-evenly;
}

// Exclusive

.exclusive-cards {
  display: flex;
  justify-content: space-evenly;
}

// Design Lab

// background-color is radial gradient, check figma

.designlab {
  display: flex;
  // top, gradient
  background: linear-gradient(rgba(141, 216, 61, 0.1), rgba(141, 216, 61, 0.1)),
    // bottom, image
    url("/resource/xboxlab.webp") no-repeat;

  height: 480px;
}

.designlab__content {
  padding-top: 121px;
  padding-bottom: 145px;
  padding-left: 165px;
}

.designlab__heading {
  font-size: 48px;
  color: #fff;
  font-weight: 400;
}

.designlab__text {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 39px;
  margin-top: 15px;
}

// Footer

@import "footer";
