body {
  background-color: #fff;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #373a3c;
}

// Navbar

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 3px solid #979797;
}

.navbar-logo {
  align-self: center;
  padding-left: 162px;

  img {
    width: 96px;
    height: 29px;
    align-items: center;
  }
}

.navbar-menu {
  align-self: center;
  padding-left: 288px;
}

.navbar-menu ul {
  padding-left: 0px;
}
.navbar-menu li {
  display: inline-flex;
  padding: 0 9px;
}

.navbar-menu__links {
  color: #fff;
}

.navbar-search {
  align-self: center;
}

.navbar-search__field {
  width: 210px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.navbar-user-account {
  display: inline-flex;
  align-self: center;
  padding-right: 162px;
}

.navbar-user-account__icon {
  width: 20px;
  height: 20px;
}

// Hero

.hero {
  display: flex;
  background-color: #f5f5f5;
  padding: 32px 62px;
  .hero-text {
    flex-basis: 50%;
    flex-shrink: 0;
  }

  .hero-image {
    flex-basis: 50%;
    flex-shrink: 1;
  }
}
